<h2 class="heading"> Create New Post </h2><br>

<div class="form-format"><%= form_for @post do |f| %>
<%= f.label :title, "Title of Post"  %><br>
<%= f.text_field :title %>
<br>
<br>
<%= f.label :body, "Content" %><br>
<%= f.rich_text_area :body %>
<br>
<br> 


<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= f.submit "Submit Post" %>

<% end %></div>